.inputField {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  width: 350px;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
