.componentInfo {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 39%;
  text-align: center;
  border-radius: 10px;
}
.h1s {
  padding: 0.2rem;
  border-bottom: #2b2b2b solid 2px;
}

.partCards {
  padding: 0.3rem;
  margin-top: 1rem;
  gap: 25px;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
