@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500;700&display=swap");

body {
  background-image: url("../public/interlaced.png");
  color: #494949;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bbbbbb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #464646;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5f5f5f;
}
