.box {
  height: calc(100vh - 80px);
  max-width: 1800px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  color: #cccbcb;
}

.btn {
  color: #cccbcb;
  background-color: #72386f;
  height: 60px;
  width: 200px;
  margin-top: 3rem;
}

.btn:hover {
  background-color: #582c56;
}

.hero {
  font-size: 2rem;
  flex: 50%;
  display: flex;
  margin-left: 10vw;
  gap: 5rem;
  /* background-color: rgba(127, 255, 212, 0.363); */
}

.engineIMG {
  flex: 50%;
  margin-top: 8rem;
  margin-left: -15rem;
}

.hFirstPart {
  font-size: 4.5rem;
}

.hLastPart {
  font-size: 8rem;
  margin-left: -1.5rem;
}

.video {
  background-color: aquamarine;
}
