.layout {
  height: calc(100vh - 70px);
  width: 100vw;
  max-width: 1800px;
}

.container {
  padding: 0.5rem;
  display: flex;
  height: calc(100vh - 160px);
  gap: 2%;
  overflow-x: auto;
}
