.layout {
  margin-top: 10px;
  height: calc(100vh - 20px);
  width: 100vw;
  max-width: 1800px;
}

.container {
  padding: 0.5rem;
  display: flex;
  height: 100%;
  gap: 2%;
  overflow-x: auto;
}
