.inputField {
  background-color: #e6e6e6;
  width: 350px;
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.container {
  margin: 4% 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
