.h4s {
  background-color: #313131;
  color: #cccbcb;
  padding: 0.2rem;
}

.h2s,
.stock,
.disab,
.tune {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: #f1f1f1;
  font-size: 1.2rem;
}

.stock {
  background-color: #1eafd3;
}
.disab {
  background-color: #9dac15;
}

.h2s {
  background-color: #d31e54;
}

.tune {
  background-color: #03ad58;
}

.img {
  object-fit: cover;
}

.thr {
  font-size: 1.2rem;
  background-color: #dddddd;
}

.out {
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(235, 7, 7, 0.541);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
