.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Dependencies
/node_modules

# Optional npm cache directory
.npm

/config
private
build
dist
.env.local
.env